<article>
  <!--<header><h1>{{ include.title | default: page.title }}</h1></header>-->
  <img alt="Posts below." src="/assets/imgs/posts_below2_333534.png" style="height: 50px; object-fit: contain; margin: 1em 0 0 0;"/>
  <!-- List all tags in a row -->
  <div style="margin-top: 1em; max-width: 100vw;">
  <a class="filterLink {% if page.url == "/" %} currentFilter {%endif%}" href="{{ "/" | relative_url }}" style="display: inline;">all</a>
  {% for tag in site.tags %}
    {% assign tag_name = tag[0] %}
    <a class="filterLink {% if page.filtername == tag[0] %} currentFilter {%endif%}" href="{{site.baseurl}}/{{ tag[0] }}">{{ tag[0] }}</a>
  {% endfor %}
  </div>

  <!-- render posts based on current url -->
  {% if page.url == "/" %}
  <ul class="archive">
    {% for post in site.posts %}
    <li style="display:flex; justify-content: flex-end;">
      <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
      <time datetime="{{ post.date | date_to_xmlschema }}" style="margin-left: auto;">{{ post.date | date: "%d %B %Y" }}</time>
    </li>
    {% endfor %}
  </ul>

  {% else %}
  <ul class="archive">
    {% for post in site.posts %}
      {% if post.tags contains page.filtername %}
    <li style="display:flex; justify-content: flex-end;">
      <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
      <time datetime="{{ post.date | date_to_xmlschema }}" style="margin-left: auto;">{{ post.date | date: "%d %B %Y" }}</time>
    </li>
      {% endif %}
    {% endfor %}
  </ul>
  {% endif %}
  
  
</article>
