<nav style="display: flex; flex-wrap: nowrap; align-items: center;">
{%- for item in include.menu -%}
  {%- assign node = site.pages | where: "name", item.file | first -%}
  {%- assign url = item.url | default: node.url -%}
  {%- assign title = item.title | default: node.title -%}
  <a href="{{ url | relative_url }}" {%- if url == page.url -%}class="selected"{%- endif -%} {%- if item.navimg -%}style="height: 40px; margin: 0px;"{%- endif -%}>
    {%- if item.icon -%}<svg aria-label="{{ title }}" class="icon"><use xlink:href="{{ "/assets/fontawesome/icons.svg" | relative_url }}#{{ item.icon }}"></use></svg>{%- else -%}<!--{{ title }}-->{%- endif -%}
    {%- if item.navimg -%}<img src="{%- if url == page.url or item.title == "poststab" and site.tags contains page.filtername -%}{{ item.selnavimg }}{%- else -%}{{ item.navimg }}{%- endif -%}" style="height: 40px; object-fit: contain; margin: 0;"/>{%- endif -%}
  </a>
{%- endfor -%}
</nav>
